html{
	font-size: 62.5%;
	color: #222;
}
		
body{
	font-size: 1.2rem;
	line-height: 1.5;
	background-color: #F7F7F7;
}
.clearfix:before,.clearfix:after{
	content: '';
	display: table;
}
.clearfix:after{
	clear: both;
}
.title{
	font-size: 4.8rem;
	color: #666;
	text-align: center;
	margin: 7rem 0 2rem 0;
}
.item{
	text-align: center;
}

.skills{
	width: 500px;
	margin:0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.skProgress-item-wrap{
	width: 50%;
}
.skProgress-item{
	margin-top: 0.4rem;
	width: 200px;
	margin: 0 auto;
}
@media screen and (max-width: 500px) {
	.skills{
		width: 200px;
	}
	.skProgress-item-wrap{
		width: 100%;
	}
}
.skProgress-item .skName{
	width: 5rem;
	text-align: right;
	display: inline-block;
	margin-right: 1rem;
	color: #fff;
	font-weight: bold;
}
.skProgress-wrap{
	display: inline-block;
	width: 10rem;
	background: #ccc;
	border-radius: 6px;
}
.skProgress{
	display: block;
	width: 8rem;
	height: 0.8rem;
	border-radius: 6px 0 0 6px;
	background-color: #fff;
	/*animation: st 2s;*/
}
@keyframes st{
	0%{
		width: 0;
	}
	100%{
		width: 8rem;
	}
}

.slide1{

}
.slide1 .indtroduceWrap{
	width: 30rem;
	margin: 10rem auto;
	text-align: center;
}
.indtroduceWrap img{
	width: 11rem;
	height: 11rem;
	border-radius: 50%; 
	/*animation: head 2s ease;*/
	position: relative;
}
@keyframes head{
	0%{
		top: -100px;
		
	}
	100%{
		top: 0;
	}
}
@-webkit-keyframes head{
	0%{
		top: -100px;
		
	}
	100%{
		top: 0;
	}
}
.indtroduceWrap .name{
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
    word-spacing: 1rem;
    line-height: 4.8rem;
    font-size: 4.8rem;
    color: #fff;
    margin: 1rem 0;
    /*animation: name 1s 2s ease;*/
}
@keyframes name{
	0%{
		opacity: 0;
		transform: scale(.3);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes name{
	0%{
		opacity: 0;
		transform: scale(.3);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
.indtroduceWrap .moto{
	font-size: 2.4rem;
    color: #444;
    line-height: 3.2rem;
    font-weight: bold;
	margin: 1rem 0 1.4rem 2rem;
	animation: rock 2s infinite ease-in-out;
}
.contactWrap{
	text-align: left;
	margin-left: 11.2rem;
	font-size: 2rem;
    color: #eee;
    position: relative;
}
.contactWrap .contactMe{
	position: absolute;
	top: 4rem;
	left: -13rem;
}
.contactWrap .contactMe .finger{
	width: 48px;
	height: 48px;
	position: absolute;
	top: -12px;
    right: -50px;
	background: url(../img/finger-right.png) no-repeat center;
	animation: finger 1s infinite alternate;
}
.contactWrap p{
	font-size: 16px;
}
.contactWrap .ct-icon{
	width: 32px;
	height: 32px;
	position: relative;
	top: 10px;
	left: -6px;
}
@keyframes finger{
	0%{
		right: -50px;
		
	}
	100%{
		right: -65px;
	}
}
@-webkit-keyframes finger{
	0%{
		right: -50px;
		
	}
	100%{
		right: -65px;
	}
}

.slide2{
	color: #fff;
}
.slide2 h3{
	font-size: 3.6rem;
}
.slide2 p{
	font-size: 3rem;
}

.slide4{
}
.slide4 .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.exp-item{
	width: 380px;
	padding: 0 10px;
}
.exp-item p{
	font-size: 14px;
	text-align: left;
}
.exp-title a{
	color: #444;
	font-size: 18px;
	color: #fff;
	float: left;
}
.exp-title span{
	float: right;
	position: relative;
	top: 6px;
}
.exp-title span i{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background: #22c3aa;
	padding: 0 6px;
	margin-right: 6px;
	font-size: 14px;
	border-radius: 6px;
}

@keyframes rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}
@-webkit-keyframes rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}