li{
	list-style: none;
}
html{
	font-size: 14px;
	font-family: "微软雅黑";
}
body{
	background: #ccc;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pro{
	width: 100px;
	height: 10px;
	border-radius: 8px;
	background: #ccc;
	position: relative;
	display: inline-block;
}
.pro-bar{
	width: 70%;
	height: 100%;
	border-radius: 8px 0 0 8px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.container{
	width: 794px;
	height: 1120px;
	margin: 0 auto;
	background: #fff;
}
.left{
	float: left;
	width: 40%;
	height: 100%;
	background: #22c3aa;
	position: relative;
}
.left .top{
	padding-top: 200px;
	text-align: center;
	color: #fff;
}
.top img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.top h2{
	font-size: 38px;
	margin: 10px 0 20px 0;
}
.top p{
	font-size: 16px;
}
.top p strong{
	color: #fff;
	font-weight: bold;
}
.skills{
	margin-top: 20px;
}
.skills ul{
	width: 80%;
    margin: 60px auto;
}
.skills li{
	color: #fff;
	margin-bottom: 10px;
}
.skills li strong{
	width: 100px;
	text-align: right;
	display: inline-block;
	font-weight: bold;
}
.contact{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 100px;
}
.contact ul{
	width: 60%;
	margin: 0 auto;
}
.contact li{
	font-size: 14px;
	padding-left: 20px;
	line-height: 28px;
	color: #fff;
}
.contact li img{
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	top: 8px;
	left: -8px;
}
.contact .tel{}
.contact .email{}
.contact .homepager{}

.right{
	float: left;
	width: 60%;
	height: 100%;
	background: #f1eee8;
	padding: 30px 20px 0 20px;
	box-sizing: border-box;
}
.right .item{
	margin-top: 40px;
}
.item h2{
	font-size: 28px;
	color: #222;
	font-weight: bold;
	margin-bottom: 10px;
}
.item h3{
	font-size: 18px;
	color: #22c3aa;
	font-weight: bold;
	margin: 10px 0;
}
.time{
	font-size: 16px;
	color: #5c7d7b;
	font-weight: bold;
	margin-bottom: 6px;
}
.item p{
	line-height: 20px;
	color: #666;
}

.exp-item{
	margin-top: 20px;
}
.exp-item .time{
	margin-right: 60px;
}
.pro-title a{
	color: inherit;
}
.pro-title span{
	float: right;
}
.pro-title span i{
	display: inline-block;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #22c3aa;
	padding: 0 6px;
	margin-right: 6px;
}

.right .education{

}
.education h2{

}
.education h3{

}
.right .work-exp{
	
}